<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FTA Home</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/fms.css">
    </head>
    <body>
        <a href="/">Return Home</a>
        <h1>Welcome to the FTA homepage</h1><br>
        <a href="/fta-fieldDisplay" class="menu">Field Display</a>
        <a href="/fta-audienceDisplaySet" class="menu">Set Audience Display</a>
        <a href="/fta-setAwards" class="menu">Set Award Assignment</a>
        <a href="/fta-awards" class="menu">View Award Assignment</a>
        <a href="/fta-matchReplay" class="menu">Replay Match</a>
        <a href="/fta-matchStatus" class="menu">Match Status</a><br>
        <a href="/fta-redScore" class="menu1">Red Scorekeeper</a>
        <a href="/fta-blueScore" class="menu1">Blue Scorekeeper</a>
    </body>
</html>