<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FMS Home</title>
        <link rel="stylesheet" href="static/fms.css">
        <link rel="icon" type="image/x-icon" href="static/favicon.png">
    </head>
    <body>
        <h1>Welcome to the <em>FIRST</em> Lego League Field Management System</h1>
        <div id="menu">
            <a id="create" href="/create" class="menu">Create a new event</a>
            <a id="load" href="/load" class="menu">Load an event</a>
            <a id="schedule" href="/schedule" class="menu">Generate a schedule</a>
            <a id="match" href="/match" class="menu">Event Display</a>
            <a id="audience" href="/audience" class="menu">Audience Display</a>
            <a id="field" href="/fieldLogin" class="menu">Field Status</a>
        </div>
        <img src="static/FLL Sponsors.png">
    </body>
</html>